@charset "ISO-8859-1";

.head{
	
    
   position:fixed;
   width: 100%;
   top: 0;
   left: 0;
   height: 3rem;
   background: red;
   display:flex;
   justify-content: center;
   align-items: center;
   box-shadow: 0 2px 6px rgba(0,0,0, 0.26);
   margin-bottom:10px;
    
	
}

header a{
	justify-content:left;
	align-items:left;
}

header div {
align-items:"center";
justify-content:center;

}

.show{
	padding-top:50px;
}